.app-container {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.panel {
  overflow: auto;
  border-right: 1px solid var(--vscode-panel-border);
}

.left-panel {
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-sideBar-foreground);
}

.center-panel {
  background-color: var(--vscode-editor-background);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Fix for persistent scrollbar */
}
.svg-image {
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  background-image:
    linear-gradient(45deg, rgb(230, 230, 230) 25%, transparent 25%, transparent 75%, rgb(230, 230, 230) 75%, rgb(230, 230, 230)),
    linear-gradient(45deg, rgb(230, 230, 230) 25%, transparent 25%, transparent 75%, rgb(230, 230, 230) 75%, rgb(230, 230, 230));
}

.vscode-dark .svg-image {
  background-image:
    linear-gradient(45deg, rgb(20, 20, 20) 25%, transparent 25%, transparent 75%, rgb(20, 20, 20) 75%, rgb(20, 20, 20)),
    linear-gradient(45deg, rgb(20, 20, 20) 25%, transparent 25%, transparent 75%, rgb(20, 20, 20) 75%, rgb(20, 20, 20));
}

.right-panel {
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-sideBar-foreground);
  border-left: 1px solid var(--vscode-panel-border);
  border-right: none;
}

h3 {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid var(--vscode-panel-border);
  font-size: 12px;
  text-transform: uppercase;
}
